@joplin/                
a2j/                       
ardour6/                                 
autostart/                 
autostart-scripts/   
Cadence/       
cef_user_data/
coc/                    
configstore/               
dconf/                                   
desmume/                   
dolphin-emu/         
Electron/      
falkTX/                 
fontforge/                 
GIMP/                                    
gpick/                     
gtk-2.0/             
gtk-3.0/             
gtk-4.0/       
ibus/
jack/                   
Joplin/                    
joplin-desktop/
KDE/                       
kde.org/             
kdedefaults/        
LanguageTool/
libaccounts-glib/       
libreoffice/               
menus/                                   
mpv/                       
neofetch/            
nitrogen/           
nomacs/        
pulse/                  
qtile/backupConfigs/
qtile/__pycache__/
qutebrowser/bookmarks
qutebrowser/greasemonkey
qutebrowser/autoconfig.yml
qutebrowser/qsettings/
qutebrowser/quickmarks
rncbc.org/           
ranger/plugins/
session/       
sitala/
skypeforlinux/          
spotify-tui/client.yml
Thunar/                                  
vidcutter/                 
VirtualBox/          
vis/                
vivaldi/       
vlc/
vokoscreenNG/           
xfce4/                     
xm1/                                     
xonsh/                     
xsettingsd/          
yay/                
zathura/      
akregatorrc
baloofileinformationrc  
baloofilerc                
bluedevilglobalrc                        
Carla2rc                   
Cuttlefishrc         
dolphinrc           
drkonqirc      
emaildefaults
gtkrc                   
gtkrc-2.0                  
kactivitymanagerd-statsrc                
kactivitymanagerdrc        
karboncalligraphyrc  
kateschemarc        
kcminputrc     
kconf_updaterc
kded5rc                 
kded_device_automounterrc  
kdeglobals                               
kfontinstuirc              
kgammarc             
kglobalshortcutsrc  
khotkeysrc     
kinfocenterrc
kiorc                   
kmixrc                     
kritadisplayrc                           
kritarc                    
krunnerrc            
kscreenlockerrc     
ksmserverrc    
ksplashrc
ktimezonedrc      
kuriikwsfilterrc           
kwalletrc                                
kwinrc                     
kwinrulesrc          
kxkbrc              
mimeapps.list  
pavucontrol.ini
plasma-localerc            
plasma-org.kde.plasma.desktop-appletsrc  
plasma_workspace.notifyrc  
plasmanotifyrc       
plasmarc            
plasmashellrc  
powermanagementprofilesrc
QtProject.conf          
qutebrowserrc              
sddmthemeinstallerrc                     
systemmonitorrc      
systemsettingsrc    
trashrc        
Trolltech.conf
user-dirs.dirs          
zoomus.conf
